/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/jobeet/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/src/Acme
/src/AppBundle
.idea/
web/data
